.navbar{
    background: linear-gradient(90deg, #3a0647 0%, rgb(49, 49, 49) 70%);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}
.link-buttons{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.carousel-container{
    max-width: 500px;
    margin: auto;
    text-align: center;
    align-items: center;
}
.page-header{
    text-align: center;
}
.carousel-caption{
    background: rgba(0,0,0,0.5) !important; 
}

  .imageBanner {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;  
  }

  img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .row {
    display: flex;
    }

    .column {
    flex: 33.33%;
    padding: 5px;
    }
    

.about-us {
    text-align: center;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
.twitter-link{
    background: #29aae1;
    border-radius: 50%;
}