@page "/dndArchive"
@inject HttpClient Http

<h1>DND Archive</h1>

@if (dndEpisodes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Episode</th>
                <th scope="col">Broadcaster</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dndEpisode in dndEpisodes)
            {
                <tr>
                    <td>@dndEpisode.Episode</td>
                    <td>@dndEpisode.Broadcasters</td>
                    <td><a href=@dndEpisode.Link>Click Here</a></td>
                </tr>
            }
        </tbody>
    </table>

}
@code {


    //Added DndEpisode object. Didn't want to flood the page with a lot of table rows for each individual episode.
    // Now all details about the Dnd Episodes are stored in dnd.json file so that we only need to edit the json file
    // dnd.json is in wwwroot folder
    private DndEpisode[] dndEpisodes;

    protected override async Task OnInitializedAsync()
    {
        dndEpisodes = await Http.GetFromJsonAsync<DndEpisode[]>("dnd-episodes/dnd.json");
    }

    public class DndEpisode
    {
        public int Episode { get; set; }
        public string Broadcasters { get; set; }

        public string Link { get; set; }
    }
}