@page "/swervesArchive"
@inject HttpClient Http

<h1 class="page-header">IDW 2005 Comics </h1>
<div class="carousel-container">
  <div id="comicCarouselCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#comicCarouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#comicCarouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#comicCarouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/MegatronOrigin.jpg" class="d-block w-100" alt="Megatron Origin">
      <div class="carousel-caption d-none d-md-block">
        <h5>Megatron Origin</h5>
        <p>Start where the IDW 2005 comics all began with the origins of Megatron.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/MTMTE2.jpg" class="d-block w-100" alt="More That Meets The Eye">
      <div class="carousel-caption d-none d-md-block">
        <h5>More That Meets The Eye Vol 2</h5>
        <p>Jump right into the action of season 2 with the fan favorite series.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/RID1.jpg" class="d-block w-100" alt="Robots In Disguise">
      <div class="carousel-caption d-none d-md-block">
        <h5>Robots In Disguise Vol 1</h5>
        <p>Catch up with the post Cybertronian Wars in Robots In Disguise.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#comicCarouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#comicCarouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="row">
  <div class="link-buttons">
    <div class="btn-group">
      <a href="https://open.spotify.com/show/0EnTQ0uFvD4mvIRWInxy4R" class="btn btn-success" target="_blank" rel="noopener noreferrer"><em
          class="fab fa-spotify" data-toggle="tooltip" title="Spotify"></em></a>

      <a href="https://www.youtube.com/playlist?list=PLLmXgUDj_Nw90LxOJylHV-fDUfydYPDJh"
        class="btn btn-danger" target="_blank" rel="noopener noreferrer"><em class="fab fa-youtube" data-toggle="tooltip" title="YouTube"></em></a>

      <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3N3ZXJ2ZXNiYXJwb2RjYXN0L2ZlZWQueG1s?sa=X&ved=0CAQQ9sEGahcKEwiws7G_-rv0AhUAAAAAHQAAAAAQHA"
        class="btn btn-primary" target="_blank" rel="noopener noreferrer"><em class="fab fa-google" data-toggle="tooltip" title="Google Podcast"></em></a>
      <a href="https://www.iheart.com/podcast/269-swerves-bar-podcast-82634480/" class="btn btn-danger" target="_blank" rel="noopener noreferrer"><em
          class="far fa-heart" data-toggle="tooltip" title="iHeart Radio"></em></a>
      <a href="https://podcastaddict.com/podcast/3544397" class="btn btn-warning" target="_blank" rel="noopener noreferrer"><em class="fas fa-podcast"
          data-toggle="tooltip" title="Podcast Addict"></em></a>
      <a href="https://www.bullhorn.fm/swervesbarpodcast" class="btn btn-danger" target="_blank" rel="noopener noreferrer"><em class="fas fa-bullhorn"
          data-toggle="tooltip" title="Bullhorn"></em></a>
    </div>
  </div>
</div>
