@page "/dndArchive"
@inject HttpClient Http

<h1>DND Archive</h1>

@if (dndEpisodes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Episode</th>
                <th scope="col">Description</th>
                <th scope="col">Youtube</th>
                <th scope="col">Spotify</th>
                <th scope="col">Google Podcast</th>
                <th scope="col">IHeart Radio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dndEpisode in dndEpisodes)
            {
                <tr>
                    <td>@dndEpisode.Episode</td>
                    <td>@dndEpisode.Description</td>
                    <td><a href=@dndEpisode.YouTubeLink>Click Here</a></td>
                    <td><a href=@dndEpisode.SpotifyLink>Click Here</a></td>
                    <td><a href=@dndEpisode.GoogleLink>Click Here</a></td>
                    <td><a href=@dndEpisode.IHeartLink>Click Here</a></td>
                </tr>
            }
        </tbody>
    </table>

}
@code {


    //Added dndEpisode object. Didn't want to flood the page with a lot of table rows for each individual episode.
    // Now all details about the Dnd Episodes are stored in dnd.json file so that we only need to edit the json file
    // dnd.json is in wwwroot folder
    private dndEpisode[] dndEpisodes;

    protected override async Task OnInitializedAsync()
    {
        dndEpisodes = await Http.GetFromJsonAsync<dndEpisode[]>("dnd-episodes/dnd.json");
    }

    public class dndEpisode
    {
        public int Episode { get; set; }
        public string Broadcasters { get; set; }

        public string SpotifyLink { get; set; }
        public string YouTubeLink { get; set; }
        public string GoogleLink { get; set; }
        public string IHeartLink { get; set; }
    }
}