@page "/dndArchive"
@inject HttpClient Http

<h1>TF: Rise Of The World Killers</h1>
<div class="container">
   @* Add the carousel here *@
</div>

<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a href="https://open.spotify.com/show/2sNbgkUD1iaxDFjflRzS3X" class="btn btn-outline-success" target="_blank" rel="noopener noreferrer"><em
                    class="fab fa-spotify" data-toggle="tooltip" title="Spotify"></em></a>

            <a href="https://www.youtube.com/playlist?list=PLLmXgUDj_Nw_yW3GwbyAjmU4yxLXN2G6m"
                class="btn btn-outline-danger"target="_blank" rel="noopener noreferrer"><em class="fab fa-youtube" data-toggle="tooltip"
                    title="YouTube"></em></a>

            <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RyYW5zZm9ybWFuZHJvbGxvdXQvZmVlZC54bWw?sa=X&ved=0CAMQ4aUDahcKEwiws7G_-rv0AhUAAAAAHQAAAAAQAQ"
                class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer"><em class="fab fa-google" data-toggle="tooltip"
                    title="Google Podcast"></em></a>
            <a href="https://www.iheart.com/podcast/269-transform-roll-out-rise-of-82634567"
                class="btn btn-outline-danger" target="_blank" rel="noopener noreferrer"><em class="far fa-heart" data-toggle="tooltip"
                    title="iHeart Radio"></em></a>
            <a href="https://podcastaddict.com/podcast/3593767" class="btn btn-outline-warning" target="_blank" rel="noopener noreferrer"><em
                    class="fas fa-podcast" data-toggle="tooltip" title="Podcast Addict"></em></a>
            <a href="https://www.bullhorn.fm/transformrolloutriseoftheworld" class="btn btn-outline-danger" target="_blank" rel="noopener noreferrer"><em
                    class="fas fa-bullhorn" data-toggle="tooltip" title="Bullhorn"></em></a>
        </div>
    </div>
</div>




