@page "/"

<div class="container">
    <h1 class="text-center">Welcome to the Podcasts</h1>
    <img src="/images/Logo_WithSignature.png" alt="Onyx Prime, Computron, and Killo-Byte at Swerve's Bar"
        class="imageBanner col-md">
</div>

<br />

<div class="col-md">
    <h2 class="text-center">Checkout the latest episodes of the podcasts!</h2>
</div>

<br />



<LatestDnd />

<LatestSwervesBar />

<br />

<div class="center row">    
    <div class="col-md-12">
        <h2> About Us </h2>
        <ul>
            <li><b>0nyx Prime : </b>
                Favorite tv series Robotis in Disguise (2001), favorite characters Grimlock, and the DJD. Favorite toy
                gimmick combiners. Favorite comic MTMTE & Lost Light.</li>
            <li><b>C0mputr0n : </b>
                Favorite tv series Beast Wars, favorites characters Soundwave, Ravage, and Waspinator. Favorite toy
                gimmick the masterpieces. Favorite comic MTMTE & Lost Light. He also has a Twitch account <a
                    href="https://www.twitch.tv/c0mputr0n" target="_blank">Here!</a></li>
            <li><b>Killo Byte : </b>
                Favorite tv Series Transformers Armada, favorite characters Shockwave, Whirl, Windblade, Blitzwing,
                Nautica. Favorite toy gimmick Mini-cons. Favorite Comic TBD.</li>
        </ul>
    </div>
    <div class="col-md-12">
        <p>Our banner was created by Kusa! Check out their twitter <a href="https://twitter.com/Kusakichan15"
                target="_blank">Here!</a></p>
        <p></p>
        <p>Please check out the artist for Transform & Roll Out!, Alexolotl on Twitter, they did an amazing job! <a
                href="https://twitter.com/al3xolotl" target="_blank">Here!</a></p>
        <p></p>
        <p>You can also find our twitter <a href="https://twitter.com/Swervesbar" target="_blank">Here!</a></p>
        <p></p>
        <p>Consider subscribing to our Youtube channel <a
                href="https://www.youtube.com/channel/UCir0lmyl4qT_B_AABMbO4Hg/videos" target="_blank">Here!</a></p>
        <p></p>
        <p>If you have any questions you would like to ask the team feel free to send us an email as
            SwervesBarPodcast@gmail.com and we hope to here from you soon!</p>
    </div>
    @* https://open.spotify.com/show/0EnTQ0uFvD4mvIRWInxy4R this is our spotify link when it is ready*@
</div>