@page "/"

<div class="container">
    <h1 class="text-center">Welcome to the Podcasts</h1>
    <img src="/images/Logo_WithSignature.png" alt="Onyx Prime, Computron, and Killo-Byte at Swerve's Bar"
        class="imageBanner col-md">
</div>

<br />


<div class="col-md">
    <h2 class="text-center">Checkout the latest episodes of the podcasts!</h2>
</div>

<br />

<div class="center row about-us">    
    <div class="col-md-12">
        <h2> About Us </h2>
        <ul>
            <li>0nyx Prime : 
                Favorite tv series Robotis in Disguise (2001), favorite characters Grimlock, and the DJD. Favorite toy
                gimmick combiners. Favorite comic MTMTE & Lost Light.</li>
            <li>C0mputr0n :
                Favorite tv series Beast Wars, favorites characters Soundwave, Ravage, and Waspinator. Favorite toy
                gimmick the masterpieces. Favorite comic MTMTE & Lost Light. </li>
            <li>Killo Byte : 
                Favorite tv Series Transformers Armada, favorite characters Shockwave, Whirl, Windblade, Blitzwing,
                Nautica. Favorite toy gimmick Mini-cons. Favorite Comic TBD.</li>
        </ul>
    </div>
    <div class="col-md-12">
        <p>Our banner was created by Kusa! Please check out their twitter for more awesome art! <a href="https://twitter.com/Kusakichan15"
                target="_blank" rel="noopener noreferrer">Here!</a></p>
        <p></p>
        <p>Please check out the artist for Transform & Roll Out!, Alexolotl on Twitter, they did an amazing job! <a
                href="https://twitter.com/al3xolotl" target="_blank" rel="noopener noreferrer">Here!</a></p>
        <p></p>
        <p>You can also find our twitter <a href="https://twitter.com/Swervesbar" target="_blank" rel="noopener noreferrer">Here!</a></p>
        <p></p>
        <p>Consider subscribing to our Youtube channel <a
                href="https://www.youtube.com/channel/UCir0lmyl4qT_B_AABMbO4Hg/videos" target="_blank" rel="noopener noreferrer">Here!</a></p>
        <p></p>
        <p>If you would like to get in contact with us, feel free to send us an email at SwervesbarPodcast@gmail.com and we will give you a shout out during the podcast! We hope to hear from you soon!</p>
    </div>
    
</div>