<div class="row">
    <div class="col-md-6">
        <h2><b>Episode 1 :</b> IDW Megatron Origin #1-4</h2>
        <p>Come hang out with 0nyx Prime, C0mputr0n, and Kill0-byte as they begin their journey through the 2005 IDW Transformers saga with Megatron Origin. Our hosts will talk about highlights of the comics and aspects that they enjoyed, you may even learn a few fun facts about the comics run. If you have any questions you would like to ask the hosts feel free to email them at Swervesbarpodcast@gmail.com.</p>
        <a href="https://open.spotify.com/episode/3xIcfqGUCMRxxzZZTs4oDg" target="_blank">Spotify Link to episode</a> : 
        
        <a href="https://youtu.be/TIEvH7Kx6PI" target="_blank">Youtube Link to episode</a>

    </div>
    <div class="center zoom">
        <img src="/images/MegatronOrigin.jpg" alt="IDW Megatron Origin" height="100%" width="auto">
    </div>
</div>

