<div class="row">
    <div class="col-sm-6">
        <h2><b>Episode 3 of Transform & Roll Out! :</b> Transform & Roll Out! : Rise Of The World Killers</h2>
        <p>Welcome to the third episode of the Transformers Home-brewed DnD Podcast! This episode the crew has a new adorable guest, join us to find out more! Follow Zephyr & Eight Wheeler continue their next mission on the planet Antilla to see if they ever find what they are looking for!</p>
        <a href="https://open.spotify.com/episode/7AZR0rDYbuXoqwZauRQkeG?si=1oRc94LyTgSvXxrG_faAsw" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>

        <a href="https://youtu.be/9isiUSwdue4" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RyYW5zZm9ybWFuZHJvbGxvdXQvZmVlZC54bWw/episode/dHJhbnNmb3JtYW5kcm9sbG91dC5wb2RiZWFuLmNvbS80NTE4MzUxNC00Yzc4LTM3YzMtYmYxNS1iZGI0NDhiZTFkNzg?sa=X&ved=0CAUQkfYCahcKEwi4gvLIjobxAhUAAAAAHQAAAAAQCA" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>

        <a href="https://www.iheart.com/podcast/269-transform-roll-out-rise-of-82634567/episode/transform-roll-out-rise-83356475/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/RiseOfTheWorldKillers.png" alt="Rise Of The World Killers" height="100%" width="auto"
            class="col-sm">
    </div>
</div>
