<div class="row">
    <div class="col-sm-6">
        <h2><b>Episode 6 of Transform & Roll Out! :</b> Transform & Roll Out! : Rise Of The World Killers</h2>
        <p>Welcome to the sixth episode of the Transformers Home-brewed DnD Podcast! On this episode Hexamis who plays Spitfire continues with us on the adventure! In this episode our heroes continue their journey to rescue our adorable baby Turbofox, mysteries are slowly revealed and some questions are answered. Come join us!</p>
        <a href="https://open.spotify.com/episode/4qt5iRS71CLZzdeeUjFbG3" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>

        <a href="https://youtu.be/SwJxlfl0krY" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RyYW5zZm9ybWFuZHJvbGxvdXQvZmVlZC54bWw/episode/dHJhbnNmb3JtYW5kcm9sbG91dC5wb2RiZWFuLmNvbS82MmM1MDNlNC0yNzU4LTNmNjgtYWI3Ni1mN2E5YTlkOWQxYzM?sa=X&ved=0CA0QkfYCahcKEwj41bGO1OvxAhUAAAAAHQAAAAAQAQ" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>

        <a href="https://www.iheart.com/podcast/269-transform-roll-out-rise-of-82634567/episode/transform-roll-out-rise-84923169/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/RiseOfTheWorldKillers.png" alt="Rise Of The World Killers" height="100%" width="auto"
            class="col-sm">
    </div>
</div>
