<div class="row">
    <div class="col-md-6">
        <h2><b>Episode 11 of Swerve's Bar:</b> Maximum Dinotos #1-5 </h2>
        <p>Grimlock! Come join 0nyx Prime, C0mputr0n, and Kill0-byte as they continue their journey through the 2005 IDW Transformers saga with Maximum Dinobots. Our hosts will talk about highlights of the comics and aspects that they enjoyed, you may even learn a few fun facts about the comics run. If you have any questions you would like to ask the hosts feel free to email them at Swervesbarpodcast@gmail.com. </p>

        <a href="https://open.spotify.com/episode/5pt86jA44q2fvfXE2d81da?si=Mw-oqgMvQ1OZ00fl1g04DA&dl_branch=1" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>
        <a href="https://youtu.be/GOVD1DTVr2s" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        @* <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3N3ZXJ2ZXNiYXJwb2RjYXN0L2ZlZWQueG1s/episode/c3dlcnZlc2JhcnBvZGNhc3QucG9kYmVhbi5jb20vNjk4ZDk3NzctM2M4OC0zYzU0LTg2ZjgtYTY1MDVhZmIzNjc1?sa=X&ved=0CAUQkfYCahcKEwi49JLJnq7yAhUAAAAAHQAAAAAQGA" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>
        <a href="https://www.iheart.com/podcast/269-swerves-bar-podcast-82634480/episode/09-transformers-escalation-85675935/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a> *@
    </div>
    <div class="center zoom">
        <img src="/images/MaximumDinobots.jpg" alt="IDW Escalation" height="100%" width="auto" class="col-sm">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2><b>Episode 10 of Swerve's Bar:</b> Devastation #1-6 </h2>
        <p>Sixshot has Come-eth!!!!! Come join 0nyx Prime, C0mputr0n, and Kill0-byte as they continue their journey through the 2005 IDW Transformers saga with Devastation. Our hosts will talk about highlights of the comics and aspects that they enjoyed, you may even learn a few fun facts about the comics run. If you have any questions you would like to ask the hosts feel free to email them at Swervesbarpodcast@gmail.com.  </p>

        <a href="https://open.spotify.com/episode/2YifGr6qn1ItAv6bJNS1MG?si=Jr782JlPS_Sl2Vhvkt7FJQ&dl_branch=1" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>
        <a href="https://youtu.be/fvHIcrZR-VA" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3N3ZXJ2ZXNiYXJwb2RjYXN0L2ZlZWQueG1s/episode/c3dlcnZlc2JhcnBvZGNhc3QucG9kYmVhbi5jb20vMGIzMjMyZWEtYjc1Yi0zMjA1LTkwODgtMmJiMzJmNjBhOTA3?sa=X&ved=0CAUQkfYCahcKEwiowuPV58fyAhUAAAAAHQAAAAAQLA" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>
        <a href="https://www.iheart.com/podcast/269-swerves-bar-podcast-82634480/episode/10-transformersdevastation-85911276/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/Devestation.jpg" alt="IDW Devastation" height="100%" width="auto" class="col-sm">
    </div>
</div>

