<div class="row">
    <div class="col-sm-6">
        <h2><b>Episode 1 of Transform & Roll Out! :</b> Transform & Roll Out! : Rise Of The World Killers</h2>
        <p>Welcome to our very first episode of the Transformers Home-brewed DnD Podcast! Listen in as we follow Zephyr
            a new recruited Decepticon and Eight Wheeler a hired mercenary roll dice and go on their very first
            adventure!</p>
        <a href="https://open.spotify.com/episode/3V6azZLXgdKyA5tJTUbJGj" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>
        <a href="https://youtu.be/j6w305Tb3eM" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RyYW5zZm9ybWFuZHJvbGxvdXQvZmVlZC54bWw/episode/dHJhbnNmb3JtYW5kcm9sbG91dC5wb2RiZWFuLmNvbS84NzJmN2IyYS1mODUwLTNhOGYtOGY4NC1lM2NjYTU2YTQzNTc?sa=X&ved=0CA0QkfYCahcKEwiom9aRtNTwAhUAAAAAHQAAAAAQAQ" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>

        <a href="https://www.iheart.com/podcast/269-transform-roll-out-rise-of-82634567/episode/transform-roll-out-rise-82660193/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/RiseOfTheWorldKillers.png" alt="Rise Of The World Killers" height="100%" width="auto"
            class="col-sm">
    </div>
</div>
