<div class="row">
    <div class="col-md-6">
        <h2><b>Episode 4 of Swerve's Bar:</b> IDW Primacy #1-4</h2>
        <p>Come hang out with 0nyx Prime, C0mputr0n, and Kill0-byte as they continue their journey through the 2005 IDW Transformers saga ending the Autocracy trilogy with Primacy. Our hosts will talk about highlights of the comics and aspects that they enjoyed, you may even learn a few fun facts about the comics run. If you have any questions you would like to ask the hosts feel free to email them at Swervesbarpodcast@gmail.com.</p>

        <a href="https://open.spotify.com/episode/4wbkEZsYZQfIza7bW9cS9t?si=NBt32iWSQ7mWKU9HmT4Wcg&dl_branch=1" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>
        <a href="https://youtu.be/FRXIYfCpYFI" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        @* <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3N3ZXJ2ZXNiYXJwb2RjYXN0L2ZlZWQueG1s/episode/c3dlcnZlc2JhcnBvZGNhc3QucG9kYmVhbi5jb20vYmE3MzM1ODktNzk4MC0zZDVkLTg2ZDEtYzQ2ODFjYTA3M2Yw?sa=X&ved=0CAUQkfYCahcKEwiI1f6drfnwAhUAAAAAHQAAAAAQCQ" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a> *@
        <a href="https://www.iheart.com/podcast/269-swerves-bar-podcast-82634480/episode/04-transformers-primacy-83708440/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/Primacy.jpg" alt="IDW Autocracy" height="100%" width="auto" class="col-sm">
    </div>
</div>

