<div class="row">
    <div class="col-sm-6">
        <h2><b>Episode 7 (Broken Sins) of Transform & Roll Out! :</b> : Rise Of The World Killers</h2>
        <p>Welcome to the seventh episode of the Podcast! Our group has been separated, Eightwheeler and Wolfer continue their way through the Library to find the baby Turbofox that C.O.R.e has taken.  Will our bots survive their encounter? Tune in to find out what happens next!</p>
        <a href="https://open.spotify.com/episode/4Yw7O4w5O0tFiwQ1ZUxXf3?si=BdEeGYgjTBugD7lWU2PCOQ&dl_branch=1" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>

        <a href="https://youtu.be/0JatgEQmpfs" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RyYW5zZm9ybWFuZHJvbGxvdXQvZmVlZC54bWw/episode/dHJhbnNmb3JtYW5kcm9sbG91dC5wb2RiZWFuLmNvbS84MWY0ZGNhMS01YzkwLTNjZTAtYTUxNy04ZmE1MGEzOWMxOTQ?sa=X&ved=0CAUQkfYCahcKEwi49JLJnq7yAhUAAAAAHQAAAAAQNg" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>

        <a href="https://www.iheart.com/podcast/269-transform-roll-out-rise-of-82634567/episode/transform-roll-out-rise-85388956/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/RiseOfTheWorldKillers.png" alt="Rise Of The World Killers" height="100%" width="auto"
            class="col-sm">
    </div>
</div>
