<div class="row">
    <div class="col-sm-6">
        <h2><b>Episode 4 of Transform & Roll Out! :</b> Transform & Roll Out! : Rise Of The World Killers</h2>
        <p>Welcome to the Fourth episode of the Transformers Home-brewed DnD Podcast! On this episode we have our first ever special guest Hexamis! Who plays Spitfire a character both Eight Wheeler & Zephyr stumble upon while getting thrown in prison on a Decepticon D-Class Warship.</p>
        <a href="https://open.spotify.com/episode/2E6mOLOBLMfqGKaUMdc3W9?si=wKKrjxaCS8q7ftXTiyJ3GA&dl_branch=1" target="_blank"
            class="btn btn-outline-success"><i class="fab fa-spotify"></i></a>

        <a href="https://youtu.be/-Qmrv5gZ77Q" target="_blank" class="btn btn-outline-danger"><i class="fab fa-youtube"></i></a>
        
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RyYW5zZm9ybWFuZHJvbGxvdXQvZmVlZC54bWw/episode/dHJhbnNmb3JtYW5kcm9sbG91dC5wb2RiZWFuLmNvbS8xNGEyMDgzMi01OGY0LTNhZTgtYWQ4OS05ODFmZTFiMmEwMDg?sa=X&ved=0CAUQkfYCahcKEwjYwK-hh6nxAhUAAAAAHQAAAAAQGA" target="_blank" class="btn btn-outline-primary"><i 
            class="fab fa-google"></i></a>

        <a href="https://www.iheart.com/podcast/269-transform-roll-out-rise-of-82634567/episode/transform-roll-out-rise-83898966/" target="_blank" 
            class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
    </div>
    <div class="center zoom">
        <img src="/images/RiseOfTheWorldKillers.png" alt="Rise Of The World Killers" height="100%" width="auto"
            class="col-sm">
    </div>
</div>
