<div class="row">
    <div class="col-md-6">
        <h2><b>Episode 2 :</b> IDW Autocracy #1-12</h2>
        <p>Come hang out with 0nyx Prime, C0mputr0n, and Killo-byte as they continue their journey through the 2005 IDW Transformers saga with Autocracy. Our hosts will talk about highlights of the comics and aspects that they enjoyed, you may even learn a few fun facts about the comics run. If you have any questions you would like to ask the hosts or shout outs you would like to make, feel free to email them at Swervesbarpodcast@gmail.com.</p>
        <a href="https://open.spotify.com/episode/56E8VnKMFEUakrf4GDXM4C?si=8YLajzrVR0mASZgMq6nrvA" target="_blank">Spotify Link to episode</a> : 
        
        <a href="https://youtu.be/U_4VFDm4R6U" target="_blank">Youtube Link to episode</a>

    </div>
    <div class="center zoom">
        <img src="/images/Autocracy.jpg" alt="IDW Autocracy" height="100%" width="auto" class="col-sm">
    </div>
</div>

