<div class="row">
    <div class="col-md-6">
        <h2><b>Episode 1 :</b> Transform & Roll Out! : Rise Of The World Killers</h2>
        <p>Welcome to our very first episode of the Transformers Home-brewed DnD Podcast! Listen in as we follow Zephyr a new recruited Decepticon and Eight Wheeler a hired mercenary roll dice and go on their very first adventure!</p>
        <a href="https://open.spotify.com/episode/3V6azZLXgdKyA5tJTUbJGj" target="_blank">Spotify Link to episode</a> : 
        <a href="https://youtu.be/j6w305Tb3eM" target="_blank">Youtube Link to episode</a>

    </div>
    <div class="center zoom">
        <img src="/images/RiseOfTheWorldKillers.png" alt="Rise Of The World Killers" height="100%" width="auto">
    </div>
</div>
