@page "/podcast_guests"
@inject HttpClient Http

<style>
    .page-header {
        margin-bottom: 1%;
        font-size: 300%;
        text-align: center;
        font-weight: bold;
    }

    .link-buttons {
        margin-bottom: 1%;
        text-align: center;
    }

    .row {
        max-width: 60%;
        font-size: large;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        text-align:center;
        border-bottom: solid 1px black;
    }

    .left {
        margin: auto;
    }
    .right {
        margin: auto;
    }

    .unorder-list {
        align-content: center;
        padding-left: 0;
    }

    #h2 {
        padding-top: 1%;
    }

    img {
        width: 500px;
        height: 500px;
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
        margin-top: 5%;
        margin-left: auto;
        <!-- background-color: lightblue; -->
    }

</style>


<h1 class="text-center">Podcast Guests</h1>
<br />
@if (guests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var guest in guests.Reverse())
    {
        <div class="row">
            <h2><br>@guest.name</h2>
            <div class="col-lg col-md col-sm left">
                <a href=@guest.episode target="_blank"><img src=@guest.image alt=@guest.name /></a>
            </div>
            <div class="col-lg col-md col-sm right">
                <p>@guest.description</p>
                @if (guest.links != null)
                {
                    <p><u>Check out their links below:</u></p>
                    @foreach (var socialLink in guest.links)
                    {
                        @if (socialLink.Twitter != null)
                        {
                            <a href=@socialLink.Twitter target="_blanks">Twitter</a>
                            //Console.WriteLine(socialLink.Twitter);
                        }
                        else if (socialLink.Twitch != null)
                        {
                            <a href=@socialLink.Twitch target="_blanks">Twitch</a>
                            //Console.WriteLine(socialLink.Twitch);
                        }
                        else if (socialLink.Tiktok != null)
                        {
                            <a href=@socialLink.Tiktok target="_blanks">Tiktok</a>
                            //Console.WriteLine(socialLink.Tiktok);
                        }
                        else if (socialLink.Instagram != null)
                        {
                            <a href=@socialLink.Instagram target="_blanks">Instagram</a>
                            //Console.WriteLine(socialLink.Instagram);
                        }
                        else if (socialLink.Facebook != null)
                        {
                            <a href=@socialLink.Facebook target="_blanks">Facebook</a>
                            //Console.WriteLine(socialLink.Facebook);
                        }
                        else if (socialLink.Youtube != null)
                        {
                            <a href=@socialLink.Youtube target="_blanks">Youtube</a>
                            //Console.WriteLine(socialLink.Youtube);
                        }
                        else if (socialLink.Spotify != null)
                        {
                            <a href=@socialLink.Spotify target="_blanks">Spotify</a>
                            //Console.WriteLine(socialLink.Spotify);
                        }
                        else if (socialLink.Website != null)
                        {
                            <a href=@socialLink.Website target="_blanks">Website</a>
                            //Console.WriteLine(socialLink.Website);
                        }
                        else
                        {
                            <b>@guest.name will have links added soon.</b>
                        }
                    }
                }
                <p><br><br>Click image on left to go to episode on Youtube.</p>
                @*<p>Check out their episode <a href=@guest.episode target="_blank">here.</a></p><br />*@
            </div>
        </div>
    }
}


@code {
    private Guest[] guests;

    protected override async Task OnInitializedAsync()
    {
        guests = await Http.GetFromJsonAsync<Guest[]>("podcast-guests/podcast_guests.json");
    }

    public class GuestLink
    {
        public string Twitter { get; set; }
        public string Twitch { get; set; }
        public string Tiktok { get; set; }
        public string Instagram { get; set; }
        public string Facebook { get; set; }
        public string Youtube { get; set; }
        public string Spotify { get; set; }
        public string Website { get; set; }
    }

    public class Guest
    {
        public int guestId { get; set; }
        public string name { get; set; }
        public string episode { get; set; }
        public string description { get; set; }
        public string image { get; set; }
        public List<GuestLink> links { get; set; }
    }
}
