@page "/swervesArchive"
@inject HttpClient Http

<h1>Swerve's Bar Archive</h1>


    @if (comics == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-md-2">Episode</th>
                    <th scope="col-md-2">Description</th>
                    <th scope="col-md-2">Spotify</th>
                    <th scope="col-md-2">Youtube</th>                    
                    <th scope="col-md-2">Google Podcast</th>
                    <th scope="col-md-2">IHeart Radio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comic in comics)
                {
                    <tr>
                        <td scope="row">@comic.Episode</td>
                        <td>@comic.Description</td>
                        <td class="text-center"><a href=@comic.SpotifyLink class="btn btn-outline-success"><i
                            class="fab fa-spotify"></i></a>
                        </td>
                        <td class="text-center"><a href=@comic.YouTubeLink class="btn btn-outline-danger"><i
                            class="fab fa-youtube"></i></a>
                        </td>                        
                        <td class="text-center"><a href=@comic.GoogleLink class="btn btn-outline-primary"><i
                            class="fab fa-google"></i></a></td>
                        <td class="text-center"><a href=@comic.IHeartLink class="btn btn-outline-danger"><i
                            class="far fa-heart"></i></a></td>
                    </tr>
                }
            </tbody>

        </table>


    }

@code {

    //Added Comic object. Didn't want to flood the page with a lot of table rows for each individual episode.
    // Now all details about the comics are stored in comics.json file so that we only need to edit the json file
    // comics.json is in wwwroot folder
    private Comic[] comics;

    protected override async Task OnInitializedAsync()
    {
        comics = await Http.GetFromJsonAsync<Comic[]>("comic-episodes/comics.json");
    }

    public class Comic
    {
        public int Episode { get; set; }
        public string Description { get; set; }
        public string SpotifyLink { get; set; }
        public string YouTubeLink { get; set; }
        public string GoogleLink { get; set; }
        public string IHeartLink { get; set; }

    }
}