@page "/swervesArchive"
@inject HttpClient Http

<h1>Swerve's Bar Archive</h1>
@if (comics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Episode</th>
                <th scope="col">Comic Description</th>
                <th scope="col">Broadcaster</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comic in comics)
            {

                <tr>
                    <td>@comic.Episode</td>
                    <td>@comic.Description</td>
                    <td>@comic.Broadcasters</td>
                    <td><a href=@comic.Link>Click Here</a></td>
                </tr>
            }
        </tbody>  

    </table>

}
@code {

    //Added Comic object. Didn't want to flood the page with a lot of table rows for each individual episode.
    // Now all details about the comics are stored in comics.json file so that we only need to edit the json file
    // comics.json is in wwwroot folder
    private Comic[] comics;

    protected override async Task OnInitializedAsync()
    {
        comics = await Http.GetFromJsonAsync<Comic[]>("comic-episodes/comics.json");
    }

    public class Comic
    {
        public int Episode { get; set; }
        public string Description { get; set; }
        public string Broadcasters { get; set; }
        public string Link { get; set; }
    }
}