@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content">        
        @Body
    </div>
</div>
<div class="footer">
    <div class="btn-group">
        <a href="https://www.facebook.com/Swervesbarpodcast/" type="button" class="btn btn-primary"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/swervesbarpodcast/" type="button" class="btn btn-danger"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Swervesbar" type="button" class="btn btn-primary"><i class="fab fa-twitter"></i></a>
         <a href="https://www.youtube.com/channel/UCir0lmyl4qT_B_AABMbO4Hg/featured" type="button" class="btn btn-danger"><i class="fab fa-youtube"></i></a>
    </div>
</div>

