
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="" Match="NavLinkMatch.All">Swerve's Bar Podcast</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="podcast_guests">Podcast Guests</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Comics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="idw-2005">IDW 2005 Continuity</a>
                        <a class="dropdown-item" href="idw-2019">IDW 2019 Continuity</a>
@*                         <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> *@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Transformers DnD
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="riseCampaign">S1 Rise of The World Killers</a>
                        <a class="dropdown-item" href="wreckersCampaign">S2 First Stand of the Wreckers</a>
                        <a class="dropdown-item" href="eonsCampaign">S3 Eons</a>
                        @*                         <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> *@
                    </div>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="https://www.patreon.com/user?u=72112451&fan_landing=true">
                        <span class="fas fa-medal" aria-hidden="true"></span> Patreon
                    </NavLink>
                </li>
@*                 <li class="nav-item"> EXTRA LIFE INFORMATION
                    <NavLink class="nav-link" href="https://www.extra-life.org/index.cfm?fuseaction=donorDrive.participant&participantID=500570">
                        <span class="fas fa-gift" aria-hidden="true"></span> extraLife
                    </NavLink>
                </li> *@
            </ul>
        </div>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/Swervesbarpodcast/" class="social-icon" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook" id="facebookNav"></i></a></li>
            <li><a href="https://www.instagram.com/swervesbarpodcast/" class="social-icon" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram" id="instagramNav"></i></a></li>
            <li><a href="https://twitter.com/Swervesbar" class="social-icon" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitter" id="twitterNav"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCir0lmyl4qT_B_AABMbO4Hg/featured" class="social-icon" target="_blank" rel="noopener noreferrer"> <i class="fab fa-youtube" id="youtubeNav"></i></a></li>
        </ul>

    </div>
</nav>

